################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DOTNetBasics/.vs
/DOTNetBasics/ExceptionHandling/obj
